<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <connectionStrings>
    <!--  <add name ="connectionString"
        connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=&quot;Oracle.DataAccess.Client&quot;;provider connection string=&quot;Data Source=PATHOLAB;User ID=lims_sys;Password=lims_sys&quot;" />-->
    <add name="connectionString" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;data source=LIMSPROD;password=lims;persist security info=True;user id=LIMS&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="eventSourceName" value="MySource"/>
    <add key="logName" value="MyNewLog"/>
    <add key="coverPageLocation" value="\\vm-nautilus\nautilus-share\Extensions\COVER.COV"/>
   <add key="scanInterval" value="30" /><!-- interval of check in seconds-->
    <add key="faxServerName" value="VM-RR"/><!-- machine name of the fax server -->
  <!--<add key="faxServerName" value="THIS-PC"/>--><!-- local machine name of the fax server  -->
  </appSettings>
</configuration>
